<form action="/users/add_attendance" method="POST">

    <input type="text" placeholder="Name" name="name"/>
    <input type="number" name="enroll" placeholder="enroll"/>
    <input type="submit"/>
</form>