
 <center><h3>Change Password</h3></center>
    <div class="container">
            {{#if errors}}
            {{#each errors}}
                <div class="alert alert-danger">{{msg}}</div>
                {{/each}}
            {{/if}}
                    <form class="form" action="/users/change_password" method="POST">
                            <div class="input-field col s6">
                              
                              <input placeholder="Current password" type="password" class="validate" name="current" required>
                              <input placeholder="New Password" type="password" class="validate" name="new" required>

                              
                    </div>
                
                    <div class="btns">
                       
                        <center><button type="submit" class="login">Change Password</button></center>
                    
                    </div>
                    
                </form>
                   
                </div>    
                
                        
                    
            </div>
