

<div id="main">
	<div id="taxi" class="responsive-img">
		<center><img src="/images/attendance.jpg"></img>
		<!-- <img src="taxi.png" id="im"> -->
		</center>
	</div>
</div>
    <div class="container">
        <form>
                    <div class="btns">
                        <center><button type="submit" class="login" formaction="/users/login">Login</button></center>
                        <center><button class="register" formaction="/users/register">Register</button></center>
                    </div>
              </form>
                </div>    
                        
                    
            
            
        
    