
  
   
<div id="main">
	<div id="taxi" class="responsive-img">
			<center><img src="/images/attendance.jpg"></img></center>
	</div>
</div>
    <div class="container">
           
        
                    <form class="form" action="/users/login" method="POST">
                            <div class="input-field col s6">
                              <input placeholder="Email" id="username" type="email" class="validate" name="username" required>
                              <input placeholder="Password" id="password" type="password" class="validate" name="password" required>

                            </div>
                    <div class="btns">
                       
                        <center><button type="submit" class="login">Login</button></center>
                        {{!-- <center><input type="reset" class="login" value="Clear"/></center>                    --}}
                        <br/>
                         <center><a href="/users/reset"><h3>forgot password?</h3></a></center>
                        <center><a href="/users/register"><h3>dont have an account?</h3></a></center>
                    </div>
                </form>
                </div>    
                
                        
                    
            </div>
            
            
        
    