
  
   
<div id="main">
	<div id="taxi" class="responsive-img">
			<center><img src="/images/attendance.jpg"></img></center>
	</div>
</div>
    <div class="container">
{{#if errors}}
            {{#each errors}}
                <div class="alert alert-danger">{{msg}}</div>
                {{/each}}
            {{/if}}
                    <center><h2>New Password</h2></center>
                    <form class="form" action="/users/newpassword" method="POST">
                            <div class="input-field col s6">
                              <input type="hidden" value="{{data}}" name="token"/>
                              <input placeholder="New Password" id="username" type="password" class="validate" name="password" required>
                              <input placeholder="Confirm Password" id="username" type="password" class="validate" name="confirmPassword" required>  
                            </div>
                    <div class="btns">
                       
                        <center><button type="submit" class="login">Reset</button></center>
                        {{!-- <center><input type="reset" class="login" value="Clear"/></center>                    --}}
                    </div>
                </form>
                </div>    
                
                        
                    
            </div>
            
            
        
    