
  
   
<div id="main">
	<div id="taxi" class="responsive-img">
			<center><img src="/images/attendance.jpg"></img></center>
	</div>
</div>
    <div class="container">
{{#if errors}}
            {{#each errors}}
                <div class="alert alert-danger">{{msg}}</div>
                {{/each}}
            {{/if}}
                    <center><h2>Reset Password</h2></center>
                    <form class="form" action="/users/resetpassword" method="POST">
                            <div class="input-field col s6">
                              <input placeholder="Enter Your Email" id="username" type="email" class="validate" name="email" required>

                            </div>
                    <div class="btns">
                       
                        <center><button type="submit" class="login">Reset</button></center>
                        {{!-- <center><input type="reset" class="login" value="Clear"/></center>                    --}}
                         <br/>
                         <center><a href="/users/login"><h3>Back to Login?</h3></a></center>
                    </div>
                </form>
                </div>    
                
                        
                    
            </div>
            
            
        
    